<div class="wrapper">
    <mat-toolbar color ="primary">
        <a mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Web Page</a>
        <span class="flex-grow"></span>
        <a *ngIf="!user" mat-button routerLink = '/auth' routerLinkActive="router-link-active">
            <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
            Login</a>
        <a  *ngIf="!user" mat-button routerLink = '/auth/sign-up' routerLinkActive="router-link-active">
            <mat-icon aria-hidden="false" aria-label="Example home icon">how_to_reg</mat-icon>
            Sign up</a>
        <a   *ngIf="user" (click) = "logOut()" mat-button routerLink = '/auth' routerLinkActive="router-link-active">
            <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
            Exit</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
