<div class="wrapper">
    <mat-card> 
        <mat-card-title class = "title-full-question">
             <p class = "name-full_question">{{question?.name}}</p>
             <h2 class = "title-card">{{question?.title}}</h2>
             <p class = "date-full_question">{{question?.date}}</p>
         </mat-card-title>
         <mat-card-content>
             <p class = "question-text">{{question?.text}}</p>
             <mat-card-actions>
                <div *ngFor="let tog of question?.togs,let i = index" class="togs-question">
                    <span *ngIf = "tog">tog{{i+1}}</span>
                </div>
                 <div class="btn"></div>
             </mat-card-actions>
         </mat-card-content>
    </mat-card>
    <div class="comment-title">Comments/Answer</div>
    <mat-card class = "list-comments" *ngFor="let comment of question?.newComment,let i = index">
        <mat-card-content>
            <div class="comment-user">
                <div class="user-name">
                    {{comment?.userName}}
                </div>
                <div class="user-comment">
                    {{comment?.comment}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class = "comments">
        <mat-card-content>
            <form class = "form"[formGroup]="form" (submit) = "addComment()"> 
                <mat-form-field class="size-fields">
                    <mat-label>Comments/Answer</mat-label>
                    <textarea matInput formControlName="comments"></textarea>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button color = "primary">Your Answer</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>