.title-full-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.togs-question{
    margin-top: 15px;
    font-size: 1rem;
   // display: inline-block;
}
.title-card{
    font-size: 1.5rem;
}
.date-full_question, .name-full_question{
    font-size: 1rem;
    font-weight: normal;
}
.question-text{
    margin-top:2rem !important;
    font-size: 1rem;
}
.size-fields{
    min-width: 600px;
}
.comments{
    margin-top:2rem;
}
.comment-user{
    display: flex;
}
.user-comment{
    margin-left: 5rem;
}
.item-comment{
    margin-top:1rem;
}