@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?btjne9');
    src:  url('assets/fonts/icomoon.eot?btjne9#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?btjne9') format('truetype'),
      url('assets/fonts/icomoon.woff?btjne9') format('woff'),
      url('assets/fonts/icomoon.svg?btjne9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; ;}

.full-fields{
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0 auto;
    max-width: 1400px;
}
