
.user-name{
    padding: 1.5rem;
}
.user-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.lower-menu {
    display: flex;
    justify-content: space-between;
}
.questionShow{
    margin-top:10px;
    cursor: pointer;
}
.title-question{
    font-size: 1.4rem;
    font-weight: 500;
}
.togs-question{
    margin-top: 15px;
    font-size: 1rem;
    display: inline-block;
}
.data-title_question{
    display: flex;
    justify-content: space-between;
}
mat-menu{
    display: none;
}
.marker{
    margin-left: 1rem;
}
.timesControl{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.weekContol {
    margin: 5px 0;
}
.monthContol {
    margin-bottom: 5px;
}
.list{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    height: 100vw;
}
.btn-question{
    margin-top:5px;
}
.btn_delete{
    margin-left: 10px;
}
.question {
    margin-bottom: 10px;
    border-radius: 10px;
}
.question:nth-child(3n+1) { order: 1; }
.question:nth-child(3n+2) { order: 2; }
.question:nth-child(3n)   { order: 3; }
.list::before,
.list::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}
.layout {
    width: 100%;
}

@media (max-width:850px) {
    .question:nth-child(3n+1) { order: 1; }
    .question:nth-child(3n+2) { order: 2; }

.list::before,
.list::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 1;
}
}