<mat-card class="lower-menu">
    <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">filter_list</mat-icon>
        filter</button>
    <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">sort</mat-icon>
        sort
    </button>
    <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
        settings
    </button>
</mat-card>
<mat-card>
    
</mat-card>
