.user-name{
    padding: 1.5rem;
}
.user-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.lower-menu {
    display: flex;
    justify-content: space-between;
}
.question{
    margin-top:10px;
    cursor: pointer;
}
.title-question{
    font-size: 1.4rem;
    font-weight: 500;
}
.togs-question{
    margin-top: 15px;
    font-size: 1rem;
    display: inline-block;
}
.data-title_question{
    display: flex;
    justify-content: space-between;
}