<div class="wrapper">
    <mat-card class="lower-menu">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon aria-hidden="false" aria-label="Example home icon">filter_list</mat-icon>
            filter
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class = "matMenuFilter">
            <button mat-menu-item (click) = "completedFilter()">
              <span>Completed question</span>
            </button>
            <button mat-menu-item (click) = "filterOfDay()">
              <span>Day Filter</span>
            </button>
            <button mat-menu-item (click) = "filterOfWeek()">
              <span>Week Filter</span>
            </button>
            <button mat-menu-item (click) = "filterOfMonth()">
                <span>Month Filter</span>
            </button>
            <button mat-menu-item *ngFor = "let tog of togs; let i = index">
                <mat-checkbox (change) = "onChange($event)">tog{{i+1}}</mat-checkbox>
            </button>
          </mat-menu>
        <button (click) = "sortOfDate()"mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon">sort</mat-icon>
            sort
        </button>
        <button mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
            settings
        </button>
    </mat-card>
    <mat-card>
        <mat-list class = "list">
            <mat-card  class = "question" *ngFor="let question of questions,let i = index" [routerLink]="['full', question.id]" routerLinkActive="router-link-active" >
                <div class="data-title_question">
                    <div class="title-question">{{question.title}}</div>
                    <div class="data-question">{{question.date | date: 'dd.MM.yyyy'}}</div>
                </div>
                <div *ngFor="let tog of question.togs,let i = index" class="togs-question">
                    <span *ngIf = "tog">tog{{i+1}}</span>
                </div>
                <div class="btn-question"></div>
            </mat-card>
        </mat-list>
           
    </mat-card>
    
</div>
